body{
    background-color:#303230;
}

.connect-message {
    font-weight: bold;
}

.card{
    background-color:#353b36;
    color:#d4d5d4 
}

.card-header{
    background-color:#202221;
    border-top: 4px solid #078612;
    color:#078612;
    font-weight: bold;
}

.card-body{
    background-color:#363736;
}

.own-text-cell,.other-text-cell{
    border-radius: 5px;
}

.own-text-cell{
    background: rgb(8,69,39);
    background: linear-gradient(45deg, rgba(8,69,39,1) 0%, rgba(28,140,85,1) 100%); 
}

.other-text-cell{
    background: rgb(113,10,10);
    background: linear-gradient(45deg, rgba(113,10,10,1) 0%, rgb(178, 53, 53) 100%);
}

.card-footer{
    background-color:#2e2c2c;
    
}

.card-footer .form-control{
    background-color:#3f3e3e;
    border-color:#353434;
    color:white;
}

.card-footer .form-control:focus{
    border-color:#076435;
}

.card-footer .btn{
    background-color:#084527;
    color:rgb(32, 218, 175)  
}

.card-footer .btn:hover{
    background-color:#076435;
}

#diceVideo{
    height: auto;
    width: 100%;
    object-fit: fill;
    position: absolute;
}

