<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registration Form</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form
      id="registrationForm"
      action="/users"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        required
      /><br />
      <p id="passwordMismatch" style="color: red; display: none">
        Passwords do not match.
      </p>
      <br />

      <label for="avatar">Avatar Image:</label>
      <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        required
      /><br /><br />

      <input type="submit" value="Register" />
    </form>
    <script src="./registration.js"></script>
  </body>
</html>
