<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        .no-resize {
            resize: none;
        }
        .connect-message {
            font-weight: bold;
        }
        .chat {
            margin-top: 20px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket;
        var myId = "";

        function isValidUsername(username) {
            return /^[A-Za-z0-9]+$/.test(username);
        }

        function start_ws() {

            let isValid = false;
            let username = null;
            while(!isValid){
                username = prompt("Please enter your username (only letters and numbers allowed):");
                if (username !== null && username.trim() !== '') {
                    isValid = isValidUsername(username);
                    if (!isValid) 
                        alert("Invalid username. Please use only letters and numbers.");
                } else {
                    alert("You must enter a valid username to continue.");
                }
            }
            
            myId = username;

            socket = io.connect('http://localhost:'+{{SOCKET_PORT}}+'/');

            // WebSocket connection event
            socket.on('connect', function() {
                console.log('Connected to the WebSocket server');
                
                var connection = { type: "CONNECTION", message: "Hi! I'm " + myId, id: myId};
                var conn = JSON.stringify(connection);
                socket.emit('message', conn);
            });

            // WebSocket message event
            socket.on('message', function(data) {
                mex = JSON.parse(data);
                if(mex.type == "INVALID"){
                    isValid = false;
                    username = null;
                    alert("Username already in use, please use another one");
                    while(!isValid){
                        username = prompt("Please enter your username (only letters and numbers allowed):");
                        if (username !== null && username.trim() !== '') {
                            isValid = isValidUsername(username);
                            if (!isValid) 
                                alert("Invalid username. Please use only letters and numbers.");
                        } else {
                            alert("You must enter a valid username to continue.");
                        }
                    }
                    
                    myId = username;

                    var connection = { type: "CONNECTION", message: "Hi! I'm " + myId, id: myId};
                    var conn = JSON.stringify(connection);
                    socket.emit('message', conn);
                } else{
                    if(mex.id == "all"){
                        document.getElementById("chat").innerHTML += `<div class="connect-message">${mex.message}</div>`;
                    }else{
                        document.getElementById("chat").innerHTML += `<div>${mex.id}: ${mex.message}</div>`;
                    }                    
                }
   
            });

            socket.on('disconnect', function() {
                window.location.href = "http://localhost:3005";    
            });

        }
        
        function send_message(event) {

            let textarea = event.target;

            if (event.key === "Enter") {

                event.preventDefault();
                let text = cleanInput(textarea.value);
                
                if(text != ""){
                    socket.emit('message', JSON.stringify({ header: [],type: "MESSAGE", message: text, id: myId }));
                }
                
                textarea.value = "";
            }
        }

        // funzione per pulire l'input (potrebbe servire in futuro)
        function cleanInput(text){
            return text.trim();
        }
    </script>
  </head>
  <body onload="start_ws()">
    <div id="chat_div">
        <textarea id="text_area" class="no-resize" cols="50" onkeypress="send_message(event)"></textarea>
        <div id="chat" class="chat"></div>    
    </div>
  </body>
</html>
