<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        .no-resize {
            resize: none;
        }
        .connect-message {
            font-weight: bold;
        }
        .chat {
            margin-top: 20px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket;
        var myId = "";
        var roomId = "";

        var placedBet = "";
        var betValue = "";

        let points = {}

        function isValidUsername(username) {
            return /^[A-Za-z0-9]+$/.test(username);
        }

        function start_ws() {

            let isValid = false;
            let username = null;
            while(!isValid){
                username = prompt("Please enter your username (only letters and numbers allowed):");
                if (username !== null && username.trim() !== '') {
                    isValid = isValidUsername(username);
                    if (!isValid)
                        alert("Invalid username. Please use only letters and numbers.");
                } else {
                    alert("You must enter a valid username to continue.");
                }
            }

            myId = username;

            socket = io.connect('http://localhost:'+{{SOCKET_PORT}}+'/');

            // WebSocket connection event
            socket.on('connect', function() {
                console.log('Connected to the WebSocket server');

                var connection = { type: "CONNECTION", message: "Hi! I'm " + myId, id: myId};
                var conn = JSON.stringify(connection);
                socket.emit('message', conn);
            });

            // WebSocket message event
            socket.on('message', function(data) {
                mex = JSON.parse(data);
                if(mex.type == "INVALID"){
                    isValid = false;
                    username = null;
                    alert("Username already in use, please use another one");
                    while(!isValid){
                        username = prompt("Please enter your username (only letters and numbers allowed):");
                        if (username !== null && username.trim() !== '') {
                            isValid = isValidUsername(username);
                            if (!isValid)
                                alert("Invalid username. Please use only letters and numbers.");
                        } else {
                            alert("You must enter a valid username to continue.");
                        }
                    }

                    myId = username;

                    var connection = { type: "CONNECTION", message: "Hi! I'm " + myId, id: myId};
                    var conn = JSON.stringify(connection);
                    socket.emit('message', conn);
                } else{
                    if(mex.type == "ROOM"){
                        document.getElementById("chat").innerHTML += `<div> User ${mex.user} entered your room (ID: ${mex.roomId})</div>`;
                        roomId = mex.roomId;
                    } else if(mex.type == "ENTER_ROOM") {
                        document.getElementById("chat").innerHTML += `<div> You are now in the room (ID: ${mex.roomId})</div>`;
                    } else if(mex.type == "START"){
                        document.getElementById("chat").innerHTML += `<div> STARTING THE GAME</div>`;
                    } else if(mex.type == "ENDTURN") {
                        document.getElementById("chat").innerHTML += `<div> THE DRAWN NUMBER IS: ${mex.total}! </div>`;
                        for (let key in mex.points) {
                            if (mex.points.hasOwnProperty(key)) {
                                let value = mex.points[key];
                                document.getElementById("chat").innerHTML += `<div> Player: ${key} has now: ${value} points!</div>`;
                            }
                        }
                        //document.getElementById("chat").innerHTML += `<div> ${mex.points}</div>`;
                    }
                    else{
                        if(mex.id == "all"){
                        document.getElementById("chat").innerHTML += `<div class="connect-message">${mex.message}</div>`;
                        }else{
                            document.getElementById("chat").innerHTML += `<div>${mex.id}: ${mex.message}</div>`;
                        }
                    }
                }

            });

            socket.on('disconnect', function() {
                window.location.href = "http://localhost:3005";
            });

        }

        function send_message(event) {

            let textarea = event.target;

            if (event.key === "Enter") {

                event.preventDefault();
                let text = cleanInput(textarea.value);

                if(text != ""){
                    socket.emit('message', JSON.stringify({ header: [],type: "MESSAGE", message: text, id: myId }));
                }

                textarea.value = "";
            }
        }

        // funzione per pulire l'input (potrebbe servire in futuro)
        function cleanInput(text){
            return text.trim();
        }

        function startAnimation(fileName){
            var myVideo = document.getElementById("diceVideo");
            var source = myVideo.children[0]
            myVideo.pause();

            source.setAttribute('src', `./static/${fileName}.webm`);
            source.setAttribute('type', 'video/webm');

            myVideo.load();
            myVideo.play();

            console.log({src: source.getAttribute('src'),type: source.getAttribute('type')});
        }

        function searchRoom() {
            var myButton = document.getElementById("search");
            myButton.setAttribute("disabled", "disabled");
            socket.emit('message', JSON.stringify({ header: [],type: "SEARCHGAME", id: myId }));
        }

        function bet() {
            socket.emit('message', JSON.stringify({ header: [],type: "GAME_MOVE", "roomId": roomId, "bet": betValue, "placedBet": placedBet }));
            document.getElementById("text_area2").value = '';
            document.getElementById("recap").textContent = 'YOU BET '+placedBet+' OVER '+betValue+'!';
        }

        function setValue(value) {
            betValue = value;
        }

        function setPlacedBet(event) {

            let textarea = event.target;

            if (event.key === "Enter") {

                event.preventDefault();
                let text = cleanInput(textarea.value);

                if(text != ""){
                    placedBet = text;
                    textarea.value = "PLACED "+text+"!";
                }else{
                    textarea.value = "";
                }


            }
        }

    </script>
  </head>
  <body onload="start_ws()">
    <div id = "video_div">
        <video id ="diceVideo" width="320" height="240">
            <source src="./static/6-6.webm" type="video/webm">
            <!--<source src="{{ url_for('static', filename="test.mp4") }}" type="video/mp4">-->
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="chat_div">
        <textarea id="text_area" class="no-resize" cols="50" onkeypress="send_message(event)"></textarea>
        <div id="chat" class="chat"></div>
    </div>
    <button id="search" onclick="searchRoom()">Search a game room!</button>

    <br>
    <textarea id="text_area2" class="no-resize" cols="50" onkeypress="setPlacedBet(event)"></textarea>

    <br>
    <button id="even" onclick="setValue('EVEN')">Even</button>
    <button id="odd" onclick="setValue('ODD')">Odd</button>

    <br>
    <button id="two" onclick="setValue('TWO')">2</button>
    <button id="three" onclick="setValue('THREE')">3</button>
    <button id="four" onclick="setValue('FOUR')">4</button>
    <button id="five" onclick="setValue('FIVE')">5</button>
    <button id="six" onclick="setValue('SIX')">6</button>
    <button id="seven" onclick="setValue('SEVEN')">7</button>
    <button id="eight" onclick="setValue('EIGHT')">8</button>
    <button id="nine" onclick="setValue('NINE')">9</button>
    <button id="ten" onclick="setValue('TEN')">10</button>
    <button id="eleven" onclick="setValue('ELEVEN')">11</button>
    <button id="twelve" onclick="setValue('TWELVE')">12</button>

    <br>
    <button id="bet" onclick="bet()">BET!</button>
    <h2 id="recap"></h2>
  </body>
</html>
