<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket;
        const myId = "Lobby#001_Client#01" + Math.floor(Math.random() * (100));
        function start_ws() {
          
            socket = io.connect('http://localhost:'+{{SOCKET_PORT}}+'/');

            // WebSocket connection event
            socket.on('connect', function() {
                console.log('Connected to the WebSocket server');
                
                var connection = { type: "CONNECTION", message: "Hi! I'm " + myId, id: myId};
                var conn = JSON.stringify(connection);
                socket.emit('message', conn);
            });

            // WebSocket message event
            socket.on('message', function(data) {
                mex = JSON.parse(data);
                document.getElementById("chat").innerHTML += "<div>" + mex.id + ": " + mex.message + "</div>";
            });

        }

        let afterSend = false
        function send_message(event) {
            let key = event.which;
            if (key === 13) {

                afterSend = true
                let txtar = document.getElementById("text_area");
                let text = txtar.value;
                txtar.value = "";
                socket.emit('message', JSON.stringify({ type: "MESSAGE", message: text, id: myId }));

            } else if(afterSend){

                afterSend = false
                let txtar = document.getElementById("text_area");
                txtar.value = "";
            }
        }
    </script>
  </head>
  <body onload="start_ws()">
    <div id="chat_div">
        <textarea id="text_area" onkeypress="send_message(event)"></textarea>
        <div id="chat"></div>    
    </div>
  </body>
</html>
