<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registration Form</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form
      id="registrationForm"
      action="http://localhost:4000/register"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        required
      /><br />
      <p id="passwordMismatch" style="color: red; display: none">
        Passwords do not match.
      </p>
      <br />

      <label for="avatar">Avatar Image:</label>
      <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        required
      /><br /><br />

      <input type="submit" value="Register" />
    </form>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var registrationForm = document.getElementById("registrationForm");
        var passwordInput = document.getElementById("password");
        var confirmPasswordInput = document.getElementById("confirm_password");
        var avatarInput = document.getElementById("avatar");

        registrationForm.addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission

          var username = document.getElementById("username").value;
          var password = passwordInput.value;
          var confirmPassword = confirmPasswordInput.value;

          if (password !== confirmPassword) {
            document.getElementById("passwordMismatch").style.display = "block";
            console.log("Password missmatch");
            return false;
          }

          var selectedFile = avatarInput.files[0];
          if (selectedFile) {
            var reader = new FileReader();

            reader.onload = function (e) {
              var base64Image = e.target.result;
              console.log("Base64 encoded image:", base64Image);

              // Add base64-encoded image to the form data
              var hiddenInput = document.createElement("input");
              hiddenInput.type = "hidden";
              hiddenInput.name = "base64Image";
              hiddenInput.id = "base64Image";
              hiddenInput.value = base64Image;
              registrationForm.appendChild(hiddenInput);

              // Submit the form
              registrationForm.submit();
            };

            reader.readAsDataURL(selectedFile);
          }
        });
      });
    </script>
  </body>
</html>
