body {
    background-image: url("./assets/bg4.png");
    background-size: 200px 200px;
}

.img-thumbnail{
    background-color: rgba(0,0,0,0)
}

td > button:focus{
    background : radial-gradient(circle, rgb(0, 77, 48) 0%, rgba(255, 255, 255, 0) 100%)
}

.table td,.img-thumbnail{
    border: 0px
}